@media (max-width: 767px) {
  body{
  	width: 100%;
  }

}
@media (min-width: 768px) and (max-width: 991px) {
  body{
  	width: 100%;
  }
  .service__wrap{
  	flex-direction: column;
  	-ms-align-items: center;
  	align-items: center;
  }
  .service__card{
  	width: 80%;
  }
  .service__img-wrap{
  	width: 100%;
  	height: 253px;
  }
 
}
@media (min-width: 991px) and (max-width: 1199px) {
  body{
  	width: 100%;
  }
   .service__wrap{
  	flex-direction: column;
  	-ms-align-items: center;
  	align-items: center;
  }
  .service__card{
  	width: 80%;
  }
  .service__img-wrap{
  	width: 100%;
  	height: 253px;
  }
 
}
@media (min-width: 1200px) {
  /* стили для lg-устройств */
}