$color-white: #fff;

body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 1024px;
margin: 0 auto;

}
/*header*/ 

header
{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items:flex-start;
	align-items: flex-start;
	background-image: url(../img/1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 30px 0 0 0;
	height: 450px;
	width: 100%;
	justify-content: space-between;
	z-index: 1;

}
/*
.head{
	position: absolute;
	width: 100%;
	height: 100px;
	background-color: #330033;		не надо
	z-index: 3;
}
*/
.overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: 2;	
}

/*h1
{
	
	font-size: 50px;
	color: blue;
}*/

h1, h2, h3, h4, h5{
	font-family: sans-serif;
	text-transform: uppercase;
	color: #000;
} 

h1{
	position: absolute;
	font-size: 40px;
	top: 230px;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	text-align: center;
	color: #fff;
	letter-spacing: 30px;
	z-index: 7;
	margin: 0;
	padding: 0;

}

h2{
	font-size: 30px;
}

h3{
	font-size: 25px;
}

h4{
	font-size: 20px;
}

h5{
	font-size: 15px;
}
a{
	text-decoration: none;
	color: #000;
}

ul {
		list-style-type: none;
	margin: 0;
	padding: 0;

}

.logo
{
	width: 50px;
	height: 50px;
	z-index: 3;
}

.logo__img
{
	width: 100%;
	margin-left: 10px;
	margin-top: 25px;

}

.btn {
	position: relative;
	height: 40px;
	width: 150px;
	background-color:#fff;
	color: #000;
	border-radius: 20px;
	border: none;
	outline: none;
	cursor: pointer;
	margin:35px 30px 0 0;
	z-index: 3;
	transition: all 0.3s ease;
}

.header__btn:hover {
	background-color: #bb0900;
	color: #fff;
}

.menu
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 50px;
	list-style-type: none;
	margin: 30px 20px 0 0;
	padding: 0;
	z-index: 4;

}

.menu__list > a
{
	position: relative;
	display: inline-block;
	text-decoration: none;
	font-size: 25px;
	padding: 10px 0px;
	margin: 0 20px;
	color: #fff;
	/*background-color:transparent;*/
	border-radius: 15px;
	transition: all 0.3s ease;

	
}
.menu__list > a:after
{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 5px;
	display: block;
	height: 2px;
	width: 0%;
	background-color: #fff;
	transition: all 0.3s ease;
}

.menu__list > a:hover
{
	/*background-color:red;*/
	
}
.menu__list > a:hover:after
{
	left: 0;
	width: 100%;
}

.service__title {
	text-align: center;
	margin: 50px 0;
}

.service__wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: space-between;
	margin: 0;
	padding: 0;

}

.service__card{
	width: 300px;
	height: 330px;
	background-color: #ccc;
	border-radius:10px;
	margin: 10px 0;
	
	/*display: inline-block; через*/

}

.service__link{

}

.service__img-wrap{
	width: 300px;
	height: 200px;
	overflow: hidden;
	border-radius:10px 10px 0 0;
}

.service__img{
width: 100%;
transition: all 0.4s ease;
}

.service__img:hover{
	transform: scale(1.3);
}

.service__desc{
	font-size: 30px;
	margin-top: 20px;
	padding: 0 10px;
	text-align: center;
	font-weight: bold;
}


/*------------------Form------------------*/

.form__title{
	text-align: center;
	margin: 50px 0;

}
/*по другому*/
.form__body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	.form__input {

		display: block;
		font-family: sans-serif;
		font-weight:bold;
		margin: 15px 0;
		//width: 330px;
		height: 50px;
		border-radius: 20px;
		border: 2px solid green;
		font-size: 22px;
		padding: 0 20px;
		outline: none;/*нет внешним линиям*/
		transition: all 0.3s ease;
		&::placeholder {
			font-weight: 400;
		}
	}
}

/*.form__body {
	width: 500px;
	height: 470px;
	background-color: #ccc;
	border-radius: 10px;
	margin: 0 auto;

	.form__input {

		display: block;
		font-family: sans-serif;
		margin: 0 auto;
		width: 100%;
		height: 50px;
		border-radius: 5px;
		border: 2px solid green;
		font-size: 22px;
		outline: none;/*нет внешним линиям*/
		/*transition: all 0.3s ease;
	}
}*/

.input__wrap{
	// width: 70%; 
	margin: 0 auto;
	padding: 10px;

}

.form__label{
	position: relative;
	display: inline-block;
	font-family: sans-serif;
	padding: 5px 0;
}


.label__policy{
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	font-size: 16px;
}

.label__policy:before{
	content: '';
	position: absolute;
	left: 0px;
	top: -2px;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	border: 2px solid green;
}

#policy{
	display: none;
}

#policy:checked + .label__policy:before{
	border: 2px solid blue;
	background-color: red;
	background-image: url(../img/icon.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}



.form__input:focus{
	border: 2px solid red;
}

.form__btn {
	display: block;
	height: 50px;
	width: 360px;
	background-color:#fff;
	color: #000;
	border-radius: 20px;
	font-size: 20px;
	border: none;
	outline: none;
	cursor: pointer;
	margin:22px auto;
	z-index: 3;
	transition: all 0.3s ease;
}

.form__btn:hover {
	background-color: #bb0900;
	color: #fff;
}


/*------------------Footter------------------*/
footer{
	width: 1024px;
	background-color: #222;
	margin: 50px auto 0;
}

.footer__top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.footer__contacts {
	color: #fff;
	width: 250px;
	margin-left: 30px;
	padding-top: 30px;
}

.contacts__phone {
	font-size: 30px;

}

.footer__link {
	color: #fff;
	transition: all 0.3s ease;
}

.footer__link:hover {
	color: #ece61e;
} 

.contacts__address {
	font-size: 20px;
	margin-top: 20px;
}

.footer__menu {
	width: 200px;
	padding: 22px 20px 0 20px;
}

.footer__nav{
	
}

.footer__map {
	width: 450px;
	padding-top: 42px;
	padding-bottom: 42px;
}

.footer__bottom {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background-color: #000;
	height: 40px;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.footer__copyright {
	color: #fff;
	padding-left: 30px;
	width: 33.3%;
}

.footer__policy {
	width: 33.3%;
	text-align: center;
}

.footer__developer {
	padding-right: 20px;
	width: 33.3%;
	text-align: right;
}

.footer__dev {
	color: #ccc;
}

// Modal


.modal {
	display: none;
	position: fixed;
	top: 35px;
	left: 50%;
	transform: translateX(-50%);
	width: 600px;
	height: 580px;
	background-color: #ccc;
	border-radius: 20px;
	z-index: 999;
	.modal__close {
		position: absolute;
		right: 20px;
		top: 10px;
		font-size: 40px;
		cursor: pointer;
	}
	.modal__title {
		font-size: 40px;
		text-align: center;
		padding: 20px;
	}
}

.overlay-modal {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 998;
}

.active {
	display: block;
}